/*Estilos generales*/
html, body {
    font-family: "Montserrat Alternates", serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    max-width: 100%;
}

button{
    background: white;
    border-radius: 2rem;
    height: 2rem;
    width: 2rem;
    cursor: pointer;
    color: var(--azul);
    margin-left: 1rem;
    margin-top: 1rem;
}

:root{
    --azul: rgba(7,96,153,255);
    --verde: rgb(103,185,62);
}

*,*:before,*:after{
    box-sizing: inherit; /*Para usar todo el ancho y alto*/
}

p{
    text-align: justify;
}

h2{
    text-align: center;
    font-size: 1.8rem;
}

h3 {
    text-align: center;
    font-size: 1.5rem;
}

h4{
    text-align: center;
    font-size: 1rem;
}

/*Estilo para animación de scroll*/
.animado {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.mostrar {
    opacity: 1;
    transform: translateY(0);
}

/*Estilos Header*/
.encabezado{
    position: relative;
    height: 100vh;
    background-image: url(../img/encabezados/encabezado-antipsicoticos.jpg);
    background-position: center center;
    background-size: cover;
}

.encabezado::after{
    content: '';
    background-color: black;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.7;
}

.contenido-menu{
    position: relative;
    max-width: 1200px;
    max-height: 100vh;
    margin: 0 auto;
    color: white;
    z-index: 1;
    flex-direction: column;
    line-height: 2;
    padding-top: 1rem;
}

.contenido-menu h2{
    margin-top: 18rem;
    margin-left: 15rem;
    width: 20rem;
    font-size: 2.5rem;
    text-shadow: 3px 3px 25px rgba(255, 255, 255, 1);
}

.contenido-menu h2 span{
    margin-left: 8rem;
}

/*Estilos barra de Navegación*/
.menu-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    margin-right: 1rem;
}

.hamburguer{
    display: none;
}

.menu-nav img{
    width: 16rem;
    height: 4.5rem;
}

.menu-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; /* Alinea los elementos en una fila */
    gap: 1.5rem;
}

.menu-nav ul li{
    position: relative;
}

.menu-nav ul li a{
    text-decoration: none;
    color: white;
    font-weight: 900;
    display: block;
    background-color: transparent;
}

.menu-nav ul li a:hover{
    color: var(--verde);
}

.menu-nav ul li ul {
    display: none;
    position: absolute;
    background: rgba(255, 255, 255, 0.6);
    padding-top: 0.7rem;
    list-style: none;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    top: 100%;
    left: 50%; /* Centra el submenú respecto al elemento padre */
    transform: translateX(-50%); /* Ajusta el centrado */
    width: 7.5rem;
    border-radius: 15px;
}

.menu-nav ul li:hover > ul {
    display: block;
}

/*Diseños Sub-menunavegación*/

.menu-nav ul li ul li a{
    font-weight: 800;
    font-size: 0.87rem;
    text-align: center;
}

.menu-nav ul li ul li a:hover{
    color: var(--azul);
}

/*Estilos Main*/

.contenido-inicial{
    max-width: 1200px;
    display: flex;
    margin: 0 auto;
    margin-top: 0.5rem;
    gap: 5rem;
}

.contenido-inicial p{
    text-align: center;
}

.acciones, .indicaciones{
    border-radius: 2rem;
    box-shadow: 3px 2px 20px rgba(0, 0, 0, 0.5);
    width: calc(50%);
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    text-align: center;
    padding: 1rem;
    max-height: max-content;
}

.acciones{
    margin-top: 1rem;
}

.contenido-segundo{
    max-width: 1200px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 3rem;
    gap: 3rem;
}

.contenido-segundo p{
    text-align: center;
}

.contraindicaciones, .efectos-adversos, .tox-rela{
    border-radius: 2rem;
    box-shadow: 3px 2px 20px rgba(0, 0, 0, 0.5);
    width: calc(33.33%);
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    max-height: max-content;
}

.efectos-adversos{
    margin-top: 2rem;
}

.tox-rela{
    margin-top: 3rem;
}

.tox-rela h4{
    font-size: 1.6rem;
}

.efectos-anti{
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 0rem;
    justify-content: center;
}

.efectos-anti ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Dos columnas */
    gap: 1rem 3rem; /* Espaciado entre filas y columnas */
    padding: 0;
    margin: 0 auto;
    width: 75rem;
}

.efectos-anti ul li {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1rem;
}

/* Aplicamos la escalera a ambas columnas */
.efectos-anti ul li:nth-child(1) { margin-left: 0rem; }
.efectos-anti ul li:nth-child(2) { margin-left: 0.8rem; }
.efectos-anti ul li:nth-child(3) { margin-left: 1.6rem; }
.efectos-anti ul li:nth-child(4) { margin-left: 2.4rem; }
.efectos-anti ul li:nth-child(5) { margin-left: 3.2rem; }
.efectos-anti ul li:nth-child(6) { margin-left: 4rem; }
.efectos-anti ul li:nth-child(7) { margin-left: 4.8rem; } 
.efectos-anti ul li:nth-child(8) { margin-left: 5.6rem; }
.efectos-anti ul li:nth-child(9) { margin-left: 6.4rem; }
.efectos-anti ul li:nth-child(10) { margin-left: 7.2rem; }
.efectos-anti ul li:nth-child(11) { margin-left: 8rem; }
.efectos-anti ul li:nth-child(12) { margin-left: 8.8rem; }

.efectos-anti ul li i{
    font-size: 1.5rem;
}

.icono {
    display: flex; /* Activa flexbox */
    align-items: center; /* Centra verticalmente */
    justify-content: center; /* Centra horizontalmente */
    background: rgba(255, 255, 255, 0.6);
    border-radius: 50%;
    border: 1px solid black;
    height: 2.5rem;
    width: 2.5rem;
    font-size: 1.5rem; /* Ajusta el tamaño del icono */
}

.efectos-extra {
    width: 75rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    padding-top: 0rem;
}

.contenido-efectextra ul {
    list-style: none;
    padding: 0;
}

.contenido-efectextra li {
    border-radius: 2rem;
    display: flex;
    align-items: center;  /* Centra verticalmente */
    gap: 1rem;  /* Espaciado entre el icono y el texto */
    width: 75rem;
    margin: 1rem auto;
    padding: 1rem;
}

.contenido-efectextra .icono {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px; /* Ajusta el tamaño del contenedor del icono */
    height: 40px;
}

.contenido-efectextra ul li p {
    flex: 1; /* Permite que el texto ocupe el espacio restante */
    text-align: left;
    margin: 0;
    text-align: justify;
}

.n{
    display:flex;
    height: auto;
}

.n span{
    font-weight: 700;
}

.n p{
    padding-left: 1rem;
    text-align: center !important;
}

.contenido-tercero{
    display: flex;
    width: 75rem;
    margin: 0 auto;
    gap: 2rem;
    align-items: center;
}

.consideraciones{
    width: 50%;
}

.consideraciones li {
    list-style: none; /* Oculta la viñeta por defecto */
    position: relative;
    padding-left: 2.5rem; /* Reduce el espacio para acercar la imagen */
}

.consideraciones li::before {
    content: "";
    position: absolute;
    left: -2rem; /* Ajusta si es necesario para que toque la línea roja */
    top: 50%;
    transform: translateY(-50%);
    width: 40px; /* Tamaño de la imagen */
    height: 40px;
    background-image: url(../img/icon-consideration.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.consideraciones li p{
    padding-bottom: 0.5rem;
    padding-right: 5rem;
    align-items: center;
}

.decir {
    border-radius: 2rem;
    height: max-content;
    width: 50%;
    padding: 1rem; /* Añade un poco de espacio interno */
    box-shadow: 0px 0px 10px rgba(255, 0, 0, 0.2); /* Sombra roja suave */
    position: relative; /* Asegura que los elementos hijos se posicionen bien */
}

.decir li {
    list-style: none;
    position: relative;
    padding-left: 3rem; /* Ajuste para evitar que el icono se salga */
    overflow: hidden; /* Evita que el icono sobresalga */
}

.decir li::before {
    content: "";
    position: absolute;
    left: 0.5rem; /* Mueve los iconos más hacia adentro */
    top: 50%;
    transform: translateY(-50%);
    width: 40px; /* Reduce el tamaño del icono si es necesario */
    height: 40px;
    background-image: url(../img/icon-medic.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.decir h3{
    text-shadow: 0px 0px 10px rgba(255, 0, 0, 0.3);
}

.decir p{
    padding-left: 1rem;
    width: 90%;
}

.medicamentos{
    width: 75rem;
    margin: 0 auto;
    padding-top: 3rem;
}

.med-tipicos{
    margin-top: 3rem;
}

.med-tipicos h3{
    text-align: justify;
    background-color: var(--azul);
    border-radius: 30%;
    width: 7.5rem;
    height: 2.3rem;
    padding-left: 1rem;
    color: white;
}

.med-atipicos{
    margin-top: 3rem;
}

.med-atipicos h3{
    text-align: justify;
    background-color: var(--verde);
    border-radius: 30%;
    width: 8.5rem;
    height: 2.3rem;
    padding-left: 1rem;
    color: white;
}

.ir-medicamentos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 20rem;
}

.tarjetas{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    padding-bottom: 2rem;
}

.tarjeta-medicamento {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: calc(33.33% - 5rem);
    height: 15rem; /* Agrega una altura fija */
    border-radius: 2rem;
    margin-top: 2rem;
    box-shadow: 3px 2px 20px rgba(0, 0, 0, 0.5);
    position: relative;
    background-color: white; /* Asegura que el fondo sea visible */
}

.tarjeta-medicamento img{
    width: 10rem;
    height: 10rem;
}

.tarjeta-medicamento h2{
    font-size: 16px;
}

.tarjeta-medicamento .vuelta {
    width: 80%;
    height: 50%;
    position: relative;
    transform-style: preserve-3d; /* Aquí está la corrección */
    transition: transform 1s;
}

.tarjeta-medicamento:hover .vuelta{
    transform: rotateY(180deg);
}

.frente, .atras {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.atras{
    display: flex;
    align-items: center; /* Centra verticalmente */
    justify-content: center; /* Centra horizontalmente */
    text-align: center; /* Asegura que el texto quede centrado */
    transform: rotateY(180deg);
    border-radius: 2rem;
    padding: 1rem;
    box-sizing: border-box; /* Evita que el padding desborde el contenido */
}

.atras p{
    text-align: center;
}

.ir-medicamentos .boton{
    padding: 1rem;
}

.med-tipicos .boton{
    width: 10rem;
    margin: 0 auto;
    border-radius: 2rem;
    background: var(--azul);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
    border: none;
    height: 5rem;
}

.boton a{
    text-decoration: none;
    color: black;
    font-weight: 800;
}

.boton a:hover{
    color: white;
}

.med-atipicos .boton{
    width: 10rem;
    margin: 0 auto;
    border-radius: 2rem;
    background: var(--verde);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
    border: none;
    height: 5rem;
}

.event-adverso, .extrapiramidal, .conydecir, .anticolinergico, .ant-cont{
    margin-top: 4rem !important;
    width: 75rem;
    margin: 0 auto;
    max-width: 100%;
}

.marquee-responsive{
    display: none;
}

.texto-movimiento {
    border-radius: 2rem;
    min-height: 2rem;
    display: flex;
    align-items: center;
}

.texto-movimiento{
    color: red;
    font-weight: 700;
    text-shadow: 2px 0px 3px rgb(243, 170, 170);
    font-size: 1.3rem;
}

.conteventadv-p {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
    margin-top: 2rem;
}

.conteventadv-p img {
    padding-right: 2rem;
    width: 38rem;
    height: 25rem;
    max-width: 100%;
}

.conteventadv-s {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.conteventadv-s p {
    width: 80%;
}

/* Secciones con listas */
.conteventadv-sys,
.conteventadv-d,
.conteventadv-t {
    text-align: center;
    width: 100%;
    margin: 0 auto;
}

.conteventadv-sys ul,
.conteventadv-d ul,
.conteventadv-t ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    padding: 0;
    list-style: none;
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem;
}

.conteventadv-sys li,
.conteventadv-d li,
.conteventadv-t li {
    display: flex;
    align-items: center;
    width: 45%;
    text-align: left;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    min-height: 50px;
}

.icono {
    margin-right: 10px;
    font-size: 1.5rem;
}

.conteventadv-dyt {
    display: flex;
    width: 100%;
    margin: 0 auto;
    gap: 2rem;
    margin-top: 2rem !important;
}

.conteventadv-d,
.conteventadv-t {
    border-radius: 2rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.conteventadv-d li p,
.conteventadv-t li p {
    width: 80%;
}

/*Estilos Footer*/

.pie-pagina {
    position: relative;
    width: 100%;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: max-content;
    color: white;
    padding: 2rem 1rem;
}

.pie-pagina::after {
    content: '';
    background-color: black;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.7;
}

.contenido-pie {
    z-index: 1;
    width: 75rem;
    max-width: 90%;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.creadores {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 10rem;
    width: 100%;
}

.santiago, .cesar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    min-width: max-content;
    min-height: max-content;
    text-align: center;
}

.santiago ul, .cesar ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.santiago li, .cesar li {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.cesar li, .santiago li {
    flex-direction: column !important;
}

.santiago p, .cesar p{
    text-align: center;
}

.santiago img {
    background-color: white;
    width: 6rem;
    height: 6rem;
    border-radius: 10px;
}

.cesar img {
    width: 15rem;
    height: 5rem;
    border-radius: 10px;
}

/* Estilos responsivos */
@media screen and (max-width: 1024px) {

    html, body {
        overflow-x: hidden;
        max-width: 100%;
    }

    /*Estilos Encabezado*/
    .contenido-menu h2 {
        margin: 0 auto;
        width: 19rem;
        font-size: 3rem;
        text-align: center;
        padding-top: 20rem;
    }

    .contenido-menu h2 span {
        margin-left: 2rem;
    }

    .menu-nav img {
        width: 9rem; /* Reducción del tamaño del logo */
        height: auto;
        margin-left: 2rem;
    }

    .menu-nav ul {
        gap: 1rem; /* Reduce la separación del menú para evitar cortes */
    }

    .menu-nav ul li a {
        font-size: 1rem; /* Ajuste de tamaño de fuente para mejor distribución */
    }

    .menu-nav ul li ul{
        display: none;
    }

    /*Estilos Main*/
    .contenido-inicial, .contenido-segundo {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }
    
    .acciones, .indicaciones, .contraindicaciones, .efectos-adversos, .tox-rela {
        width: 80%;
    }
    
    .efectos-anti ul {
        grid-template-columns: repeat(2, 1fr); /* Mantener dos columnas */
        gap: 1rem;
    }

    .efectos-anti ul li {
        margin-left: 2rem !important; /* Eliminar efecto de escalera */
    }

    .efectos-extra, .contenido-tercero, .medicamentos {
        width: 100%;
        padding: 1rem;
    }
    .contenido-efectextra li, .contenido-tercero, .medicamentos {
        width: 90%;
    }

    .event-adverso, .extrapiramidal, .conydecir, .anticolinergico, .ant-cont {
        width: 90%;
    }

    .marquee-responsive{
        display: block;
        margin-top: -1rem;
        color: red;
        font-weight: 800;
        text-align: center;
        font-size: 1.5rem;
    }

    .texto-movimiento  marquee {
        display: none;
    }

    .conteventadv-p img {
        width: 32rem;
        height: 22rem;
    }

    /*Estilos footer*/
    .creadores {
        gap: 5rem;
    }
}

@media screen and (max-width: 768px) {

    html, body {
        overflow-x: hidden;
        max-width: 100%;
    }    
    
    /*Estilos Encabezado*/
    .encabezado {
        height: 100vh;
        position: relative;
    }

    .encabezado::after {
        height: 100vh;
    }

    .menu-nav {
        position: relative;
    }

    .menu-nav img{
        height: auto;
        width: 18rem;
    }

    /* Botón hamburguesa */
    .hamburguer {
        display: block;
        font-size: 1.2rem;
        cursor: pointer;
        position: absolute;
        top: 1rem;
        right: 1rem;
        z-index: 10;
        background: rgba(255, 255, 255, 0.3);
        color: white;
        padding: 0.5rem 1rem;
        border-radius: 5px;
    }

    /* Ocultar menú por defecto */
    .menu-nav ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: rgba(7,96,153, 0.3);
        padding: 1rem 0;
        text-align: center;
        z-index: 9;
    }

    /* Mostrar menú cuando está activo */
    .menu-nav ul.active {
        display: flex;
    }

    .contenido-menu h2 {
        font-size: 2rem;
        text-align: center;
        margin: 0 auto;
        max-width: 19rem;
        transition: margin-top 0.2s ease-in-out;
        position: relative;
        padding-top: 10rem;
        font-weight: 900;
    }

    /* Cuando el menú está abierto, el h2 baja */
    body.menu-abierto .contenido-menu h2 {
        font-size: 28px;
        margin-top: 10rem;
        font-weight: 900;
    }

    .menu-nav ul li:hover > ul{
        display: flex;
        background-color: rgba(20, 20, 20, 0.897);
    }

    /* Estilos Main */

    .contenido-inicial, .contenido-segundo {
        flex-direction: column;
        gap: 1.5rem;
    }

    .acciones, .indicaciones, .contraindicaciones, .efectos-adversos, .tox-rela {
        width: 85%;
    }

    .efectos-anti{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .efectos-anti ul {
        grid-template-columns: repeat(1, 1fr); /* Cambia a una columna */
        gap: 0.8rem;
        margin-left: 30%;
    }

    .efectos-anti ul li p{
        width: 90%;
    }

    .efectos-extra, .contenido-tercero, .medicamentos {
        width: 95%;
        padding: 0.8rem;
    }

    .tarjeta-medicamento p{
        min-height: max-content;
        font-size: 12px;
    }

    .tarjeta-medicamento img{
        width: 8rem;
        height: 8rem;
    }

    .tarjeta-medicamento h2{
        font-size: 12px;
    }

    .marquee-responsive{
        display: block;
        margin-top: -1rem;
        color: red;
        font-weight: 800;
        text-align: center;
    }

    .texto-movimiento  marquee {
        display: none;
    }

    .conteventadv-sys ul,
    .conteventadv-d ul,
    .conteventadv-t ul {
        flex-direction: column;
        align-items: center;
    }

    .conteventadv-sys li,
    .conteventadv-d li,
    .conteventadv-t li {
        width: 90%; /* Ocupa más espacio en pantallas más pequeñas */
    }

    .conteventadv-p img {
        width: 28rem;
        height: 18rem;
    }

    .conteventadv-dyt {
        flex-direction: column;
        gap: 1rem;
    }

    /*Estilos footer*/
    .creadores {
        flex-direction: column;
        gap: 0rem;
        align-items: center;
    }

    .santiago, .cesar {
        width: 100%;
        border: 1px solid rgba(128, 127, 127, 0.747);
        border-radius: 20px;
        margin: 1rem;
    }

    .cesar img {
        width: 10rem;
        height: 4rem;
    }
}

@media screen and (max-width: 480px) {
    .encabezado {
        height: 100vh;
        position: relative;
    }

    .encabezado::after {
        height: 100vh;
    }

    .menu-nav {
        position: relative;
    }

    .menu-nav img{
        height: auto;
        width: 15rem;
    }

    /* Botón hamburguesa */
    .hamburguer {
        display: block;
        font-size: 1.2rem;
        cursor: pointer;
        position: absolute;
        top: 0;
        right: 1rem;
        z-index: 10;
        background: rgba(255, 255, 255, 0.3);
        color: white;
        padding: 0.5rem 1rem;
        border-radius: 5px;
        margin-top: 0.5rem;
    }

    /* Ocultar menú por defecto */
    .menu-nav ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: rgba(7,96,153, 0.3);
        padding: 1rem 0;
        text-align: center;
        z-index: 9;
    }

    /* Mostrar menú cuando está activo */
    .menu-nav ul.active {
        display: flex;
    }

    .contenido-menu h2 {
        font-size: 2rem;
        text-align: center;
        margin: 0 auto;
        max-width: 19rem;
        transition: margin-top 0.2s ease-in-out;
        position: relative;
        padding-top: 10rem;
    }

    .contenido-menu h2 span{
        margin-left: 2rem;
    }

    /* Cuando el menú está abierto, el h2 baja */
    body.menu-abierto .contenido-menu h2 {
        margin-top: 10rem;
    }

    .menu-nav ul li:hover > ul{
        display: flex;
        background-color: rgba(20, 20, 20, 0.897);
    }

    /*Estilos Main*/

    .contenido-inicial, .contenido-segundo {
        flex-direction: column;
        gap: 1rem;
    }

    .acciones, .indicaciones, .contraindicaciones, .efectos-adversos, .tox-rela {
        width: 90%;
    }

    .efectos-anti{
        margin-right: 20rem;
    }

    .efectos-anti h4{
        margin-left: 20rem;
    }

    .efectos-anti ul {
        grid-template-columns: 1fr; /* Una sola columna */
        gap: 0.5rem;
    }

    .efectos-extra, .medicamentos {
        width: 100%;
        padding: 0.5rem;
    }

    .efectos-extra p{
        width: 90%;
    }

    .contenido-tercero{
        display: flex;
        flex-direction: column;
    }

    .consideraciones, .decir{
        width: 90%;
    }

    .medicamentos img{
        width: 5rem;
        height: 5rem;
    }

    .tarjeta-medicamento{
        width: 25%;
    }

    .tarjeta-medicamento h2{
        font-size: 10px
    }

    .tarjeta-medicamento p{
        font-size: 10px;
    }

    #conttipicos, #contatipicos{
        width: 90%;
    }

    .event-adverso, .extrapiramidal, .conydecir, .anticolinergico, .ant-cont {
        width: 90%;
        margin-top: 2rem;
    }

    .marquee-responsive{
        display: block;
        margin-top: -1rem;
        color: red;
        font-weight: 800;
        text-align: center;
    }

    .texto-movimiento  marquee {
        display: none;
    }

    .texto-movimiento p {
        font-size: 1rem;
    }

    .conteventadv-p {
        flex-direction: column;
        padding: 1rem;
    }

    .conteventadv-p img {
        width: 100%;
        height: auto;
        margin: 0 auto;
    }

    .conteventadv-s p {
        font-size: 0.9rem;
        text-align: center;
        width: 90%;
    }

    .conteventadv-sys li{
        width: 100%;
        font-size: 0.9rem;
        text-align: center;
        padding: 8px;
    }

    .conteventadv-d li,
    .conteventadv-t li {
        width: 90%;
        font-size: 0.9rem;
        text-align: center;
        padding: 8px;
    }

    .icono {
        font-size: 1.2rem;
    }

    /*Estilos footer*/
    .contenido-pie {
        max-width: 100%;
        padding: 1rem;
    }

    .creadores {
        gap: 1rem;
    }

    .santiago p, .cesar p {
        font-size: 0.9rem;
    }

    .santiago, .cesar{
        width: 80%;
        min-width: 70%;
        border: 1px solid rgba(128, 127, 127, 0.747);
        border-radius: 20px;
    }

    .santiago li, .cesar li {
        flex-direction: column;
        text-align: center;
    }

    .cesar img {
        width: 10rem;
        height: 4rem;
    }

    h4 {
        font-size: 0.8rem;
    }
}